@import "../../../../scss/index.scss";

.my-info {
    padding: 0 10px;
    &__logo{
        margin: 0 auto 5px auto;
        max-width: 395px;
        img{
            width: 100%;
        }
    }
    h4{
        color: white;
        text-align: justify;
        @media (min-width: 1570px) {
            text-align: center;
        }
        span{
            color: $primary-color-hover;
        }
    }
}