@import "../../../scss/index.scss";

.menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 10px;

    &__logo {
        width: 200px;
        padding: 0 10px;
    }

    button {
        background-color: transparent;
        color: $font-light;
        border: none;

        &:hover {
            color: $primary-color;
            background-color: transparent;
        }
        &:focus,
        &:active {
            color: $font-light;
            outline: none;
            background-color: transparent;
        }
    }
}
