@import "../../../../scss/index.scss";

.posts-list{
    background-color: white;
    .ant-list-bordered {
        border: none;
    }
    .ant-list-item{
        border-bottom: 1px solid #d9d9d9;
    }
}