@import "../../../scss/index.scss";

.menu-top-web{
    position: sticky;
    background-color: $background-dark-web;
    border: 0;
    display: flex;
    align-items: center;
    
    &__logo {        
        padding: 10px 0 !important;
        margin-left: 0 !important;

        img {
            width: 200px;
        }
    }

    &__vacio{
        width: 100%;
    }

    li {
        top: 0 !important;
        border: none !important;

        a{
            color: #fff !important;
            font-weight: bold;            

            &:hover {
                color: $primary-color !important;
            }
        }
    }

    
}